<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); background-size: cover; background-repeat: no-repeat; height:100%">
    <div style="background-color:#F9F7F4; box-shadow: 5px 5px 17px 1px rgba(159,159,159,0.38);  padding: 25px; border-radius:20px; width : 350px; margin: 50px auto">
    <div style="text-align:center">
      <h1>The Gossip Project</h1>
      <a href="/gossips/new" style="text-decoration: none; color: #FFF; margin:25px; padding : 10px; border-radius: 15px; background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">Créer un gossip</a>
      <br><br>
      <p>Voici la liste des Gossips actuels :</p>
      <% gossips.each_with_index do |gossip, index| %>
          <p>
            <span style="color: red"><%= gossip.author %><br/></span>
            <em><%= gossip.content %></em><br/>
            <br/>
            <a href="/gossips/<%=index%>" style="text-decoration: none; color : rgb(131,58,180); margin:25px; padding : 10px; border-radius: 15px; border: 2px solid rgb(131,58,180);">voir le potin</a>
          </p>
          <br/><br/>
        <% end %>
    </div>
  </div>
  </body>

</html>